body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

nav {
display: flex;
justify-content: space-between;
font-size: 3vh;
border: none;
height: 6vh;

}

.right-nav {
  display: flex;
  list-style: none;
  align-items: center;
  color: white;
}


.left-nav {
padding-left: 3vh;
align-items: center;
list-style: none;
display: flex;
}

.right-nav a {
  margin-right: 3vh;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#big {
  display: flex;
  align-items: center;
  font-size: 8vh;
  padding: 0;
  margin: 3vh;
}
#small {
  display: flex;
  margin-top: 1vh;
  align-items: center;
  font-size: 2.7vh;
  margin: 3vh;
}

.sidebar {
  position: fixed;
  left: 0px;
  padding:1vh 1vh 0.1vh 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 8%;
  border-bottom-right-radius: 8%;
}
.sidebar a {
  margin-bottom: 0.5vh;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 94vh;
  justify-content: center;

}

.dropdown {
  position: relative;
  display: inline;
  float: right;
}

#dropdown-content {
  display: none;
  position: fixed;
  min-width: 100px;
  z-index: 1;
  top: 6vh;
  right:0;
  background-color: #1f1f1f;
}

#dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: flex;
font-size: 2vh;
color: white;
}

#dropdown-btn {
  margin: 0;
  width: 6vh;
  height: 6vh;
  border: none;
  position: fixed;
  right: 0vw;
  
} 
.navbar {
  display: block;
}
.dropdown {
  display: none;
}
@media only screen and (max-width: 1000px) {

  .dropdown {
    display: inline-block;
  }
  .left-nav {
    display: flex;
    white-space: nowrap;
  }
  .sidebar,
  .right-nav {
    visibility: hidden;
  }
  html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
  }
  
  #big {
    font-size: 7vw;
    text-align: center;
    
  }
  
  #small {
    font-size: 3vw;
    display: flex;
    text-align: center;
    margin-top: 0vw;
  }


}
